# Секретные ключи
.env

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы Excel и текстовые списки (чтобы не светить ваши данные)
*.xlsx
links.txt
Выгрузка_товаров.xlsx

# Настройки VS Code
.vscode/